<html>
<head>
<style>

#grad {
  height: 100px;
  background-color: red;
  background-image: linear-gradient(-90deg, olive, yellow);
}
</style>
</head>
<body>

<div id="grad" style="text-align:center;"><br><h1>ABOUT</h1></div>
<p  style="font-size:300%;">
  Hello every one!<br>
  <br>This Django project is all about counting words in an given text. Not only the word count through this web application you could find the occurances of each word in the text too.
  <br>
  <br>
  -Jyothi Reddy Bhavanam
  </p>
<a href="{% url 'home'%}"> Return </a>
</body>
</html>
